.errorMessage{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-popup-inner {
    position: absolute;
    
    
    display: flex;
    align-items: center; 
    justify-content: center;
    max-height: 600px;
    max-width: 600px;
    background-color: white;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 5%;
  }

.close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}

.login-align{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.vertical{
    transform: rotate(270deg);
    display: flex;
    /* align-items: center;
    justify-content: center; */
    font-size: 350%; 
    font-weight: bolder;
}


.nogap{
    padding: 0%;
    margin: 0%;
}

.twomargin{
    margin: 7%;
    
}

.full{
    width: 100%;
}

.full-margin{
    width:100%;
    margin: 2%;
}

.login-submit-button{
    max-width: 30%;
    background-color: #69A0E6;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    margin-top: 2%;
    margin-left: 38%;
}

.errortext {
    font-size : 70%;
    color: red;
}